.button {
  cursor: pointer;
  font-size: 36px;
  background: rgb(236, 236, 236);
  border: 2px solid rgb(170, 170, 170);
  border-radius: 12px;
  padding: 4px 24px;
  width: 240px;
  transition: 0.3s ease;
  &:hover {
    background: rgb(196, 239, 243);
    transform: scale(1.1);
    transition: 0.2s ease;
    border: 2px solid black;
  }
  &:active {
    background: rgb(243, 200, 196);
    transform: scale(0.9);
    transition: 0.2s ease;
  }
  &:disabled {
    opacity: 0.5;
    &:hover {
      transform: none;
      background: rgb(196, 196, 196);
    }
    &:active {
      transform: none;
      background: rgb(196, 196, 196);
    }
  }
}
